/* Add styling for your page here */

.App{
    display: flex;
    background-color: #cae9f5;
}



/* .App {
    display: flex;
    padding: 20px;
    columns: 2 auto;
    background-color: #cae9f5;
} */

#bakery{
    display: flex;
}

#cart{
    width: 30vw;
}

.itemImage{
    width: 400px;
    border-radius: 5%;
}

.button{
    font-size: 20px;
    float: right;
    border: white;
}

p{
    font-size: 20px;
}

.bakeryItem{
    width: 400px;
    border-radius: 5%;
    background-color: white;
    padding: 5px;
}

.itemInfo{
    padding: 5px;
}

.price{
    columns: 2 auto;
    justify-content: space-between;

}






/* .menuItems{
    columns: 2 auto;
    width: 10vw;
} */




/* .bakeryItem{
    width: 60vw;

}

#bakery{
    display: flex;
    width: 50vw;
}

.itemImage{
    width: 400px;
}

.menuItems{
    flex:50%;
    justify-content: space-evenly;
}

p{
    font-size: 20px;
}

.button{
    font-size: 20px;
}

#cart{
    width: 30vw;
} 
*/
