/* Add styling for your page here */

.App{
    display: flex;
    background-color: #cae9f5;
    padding: 40px;
}

.heading{
    margin-bottom: 40px;
}

#cart{
    width: 50vw;
    padding-left: 60px;
}

.itemImage{
    width: 400px;
    border-radius: 5%;
}

.button{
    font-size: 20px;
    justify-content: center;
}

p{
    font-size: 20px;
}

.bakeryItem{
    width: 400px;
    border-radius: 5%;
    background-color: white;
    padding: 5px;
    justify-content: center;
}

.itemInfo{
    padding: 5px;
}